.containerH {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.boxH {
  width: 100px;
  height: 100px;
  background-color: #8eddf5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxH1 {
  order: 1;
}

.boxH2 {
  order: 2;
}

.boxH3 {
  order: 3;
}

/* Vertical Divs */
.containerV {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* default is row */
}

.boxV {
  width: 90%;
  height: 200px;
  background-color: #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.boxV1 {
  margin-top: 80px;
  order: 1;
}

.boxV2 {
  order: 2;
}

.boxV3 {
  order: 3;
}
